<% layout('layouts/boilerplate') -%>
<h1>Edit Post</h1>

<form class="" action="/posts/<%= post.id %>?_method=put" method="post" id="postEditForm" enctype="multipart/form-data">
  <div class="">
    <input type="text" name="post[title]"  value="<%= post.title %>">
  </div>
  <div class="">
    <input type="text" name="post[price]"  value="<%= post.price %>">
  </div>
  <div class="">
    <input type="file" id="imageUpload" name="images" value="" accept="images/*" multiple >
    <div class="">
      <% post.images.forEach(function(image, i) { %>
        <img src="<%= image.url %>" width="100px">
        <label for="image<%= i %>">Delete?</label>
        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
      <% }) %>
    </div>
  </div>
  <div class="">
      <textarea name="post[description]"><%= post.description %></textarea>
  </div>
  <div class="">
    <input type="text" name="post[location]"  value="<%= post.location %>">
  </div>

  <input type="submit" value="Submit">
</form>

<script src="/javascripts/post-edit.js"></script>
